<img src="http://mgmic.oscer.ou.edu/portal/check.png" height="20" width="20" style="display:{{ success_display }};margin-left:1px;margin-right:2px;"><img src="http://mgmic.oscer.ou.edu/portal/spinner.gif" height="20" width="20" style="display:{{ progress_display }};margin-left:1px;"><span style="margin-left:5px;">{{ status }}</span>
