      <h2>New Sample</h2>
      <div id="task_submit">
          <form class="col-md-6" id="task_form" onsubmit="return task_submit();">
              <div style="display:none">
                  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrftoken }}"/>
             </div>
              <div class="form-group">
                 <label for="args">Forward Read URL</label>
                  <input type="text" class="form-control" name="args" placeholder="Forward Read URL" >
             </div>
              <div class="form-group">
                   <label for="args">Reverse Read URL</label>
                    <input type="text" class="form-control" name="args" placeholder="Reverse Read URL" >
               </div>
             <button type="submit" id="form_submit" class="btn btn-default pull-right">Submit Task</button>
         </form>
         <div class="row" style="width:100%;clear:both;"></div>
         <div id="task_result"></div>
     </div>
